.pin2.pin
	.p1
		h1(style='color: #fff;margin: 0;') Hello!
		h2(style='color: #fff;margin: 0;') 我的名字叫李国辉
	.p2
		h3(style='color: #fff;') 继续了解一下我吧
	a.xia-box.scroll.iconfont.xiangxia.icon-xiangxia(href='#se3',onfocus="this.blur();")