.pin4.pin
	h1.tit-education.tit My education
	#row.row4
		.col-md-6.left
			.school-description
				p 学&emsp;&emsp;校：湖南农业大学
				br
				p 专&emsp;&emsp;业：计算机科学与技术
				br
				p 学&emsp;&emsp;历：本科
				br
				p 毕业时间：2017年6月
				br
				p 社团经历：勤工助学会网络部部长
				br
				p &emsp;&emsp;&emsp;&emsp;&emsp;跆拳道协会宣传部副部长
		.col-md-6.right
			object(data="/images/xiaohui.svg",type="image/svg+xml")
				img(src="/images/xiaohui.svg")