.pin5.pin
	h1.tit-hobby.tit My hobby
	#row
		.col-md-3
			.pic
				img(src="/images/robort.svg")
			p 机器学习
		.col-md-3
			.pic
				img(src="/images/save.svg")
			p Web安全
		.col-md-3
			.pic
				img(src="/images/design.svg")
			p 做设计
		.col-md-3
			.pic
				img(src="/images/cartoon.svg")
			p 看漫画