.pin.pin6
	h1.tit-connect.tit Connect me
	.connect
		.email
			img(src="/images/email.svg")
			span :2leg@immaster.cn
		.qq
			img(src="/images/qq.svg")
			span :746289719
		.tel
			img(src="/images/tel.svg")
			span :(+86)130-274-13950
